<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <p><%= collaboration.email %></h1> now has permission to edit your private wiki.

<!--- redirect to wiki they can edit --->

    </main>

  </body>
</html>
