<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h1>Add Collaborator</h1>

      <form action="/wikis/<%= wiki.id %>/collaborations/createCollaboration" method="post">
        <div class="form-group">
          <label for="title">Collaborator Name</label>
          <input value="2" type="text" class="form-control" name="id" aria-describedby="titleHelp" placeholder="Add Collaborator (email)">
          <input value="<%=  wiki.collaboration %>" type="email" class="form-control" name="email" aria-describedby="titleHelp" placeholder="Add Collaborator (email)">
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </main>


  </body>
</html>
